@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed-center {
    transform: translate(-50%, -50%);
}

.bg-image {
    background-image: url('../public/images/background-v2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/* width */
::-webkit-scrollbar {
  width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
  display:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdba74;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdba74; 
}

/**************************************************** SVG ******************************************************/

.filter-white{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}




/*************************************************** EXTRA CSS **************************************************/
.icon{
  transition: 1s;
}
.icon:hover{
  transition: 1s;
}
.icon-shadow{
  transition: 1s;
}
.icon-shadow:hover{
  transition: 1s;
  filter: drop-shadow(0 0 10px #fff);
  cursor: pointer;
  animation: ease-in-out;
}
.white-box-shadow{
  box-shadow: 0 0 14px #fff;
}
.sunset-box-shadow{
  box-shadow: 0 0 20px #fda4af;
}
.sunset-hr-shadow{
  box-shadow: 0 0 10px #fda4af;
}


/*************************************************** FONTS **************************************************/

@font-face{
    font-family: "DeliciousHandrawn Regular";
    src: url('../public/fonts/DeliciousHandrawn-Regular.ttf');
}
@font-face{
  font-family: "Montserrat Regular";
  src: url('../public/fonts/Montserrat-Regular.ttf');
}
@font-face{
  font-family: "Montserrat Bold";
  src: url('../public/fonts/Montserrat-Bold.ttf');
}
@font-face{
  font-family: "Montserrat Medium";
  src: url('../public/fonts/Montserrat-Medium.ttf');
}
@font-face{
  font-family: "Montserrat Semi-Bold";
  src: url('../public/fonts/Montserrat-SemiBold.ttf');
}
@font-face{
  font-family: "Lato Regular";
  src: url('../public/fonts/Lato-Regular.ttf');
}
@font-face{
  font-family: "Roboto Light";
  src: url('../public/fonts/Roboto-Light.ttf');
}
@font-face{
  font-family: "Roboto Regular";
  src: url('../public/fonts/Roboto-Regular.ttf');
}