@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed-center {
    transform: translate(-50%, -50%);
}

.bg-image {
    background-image: url('../public/images/background-v2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/* width */
::-webkit-scrollbar {
  width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
  display:none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EAA436;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d48b17; 
}
